@import url("https://fonts.googleapis.com/css2?family=Alata&family=Hind:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Ranchers&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0 auto;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

html {
  padding-left: 50px;
  padding-right: 50px;
}

body {
  animation: gradient-animation 48s ease infinite;
  background: linear-gradient(300deg, #b5aad3, #f6e5ea, #acccc5);
  background-color: #f6e5ea;
  background-size: 180% 180%;
  color: #2a233d;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  height: 100%;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.page-wrapper {
  margin: 0 auto;
  max-width: 120vw;
  padding: 8px;
  width: auto;
}

.container {
  align-items: center;
  display: flex;
  font-family: "Poppins", sans-serif;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 24px;
}

.navbar {
  height: 60px;
  margin: 20px 0px;
  position: relative;
}

.menu-icon,
.home {
  display: none;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  color: #8e7dba;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.nav-elements ul a:hover {
  color: #99c1b9;
}

.nav-elements ul a.active {
  color: #e1a1b5;
  font-weight: bold;
  position: relative;
}

.nav-elements ul a.active::after {
  background-color: #e1a1b5;
  bottom: -2px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}

.intro-title-div {
  display: flex;
  justify-content: center;
  margin: auto;
}

.intro-title-heading {
  color: #b5aad3;
  font-family: "Ranchers", sans-serif;
  font-size: 44px;
  letter-spacing: 2.5px;
  margin: 8px 16px;
  max-width: 850px;
  text-align: center;
}

.intro-spacing {
  padding: 16px;
}

.rotating-image-div {
  display: flex;
  justify-content: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotating-image {
  animation: spin 10s linear infinite;
  height: 200px;
}

.page-title {
  color: #8e7dba;
  display: flex;
  font-family: "Ranchers", sans-serif;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 2.5px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
}

.page-header {
  padding-bottom: 24px;
  text-align: center;
}

.projects-section {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  height: auto;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 950px;
}

.project {
  background-color: rgba(246, 229, 234, 50%);
  border: 2.5px groove #99c1b9;
  border-radius: 4px;
  padding: 16px;
  width: 450px;
}

.project-image {
  padding-bottom: 8px;
}

.project-image img {
  width: 100%;
  border: 1px groove #acccc5;
  border-radius: 4px;
}

.project-image img:hover {
  border: 2px groove #e1a1b5;
  filter: brightness(0.75);
}

.project-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-text a {
  color: #8e7dba;
  text-decoration: none;
}

.project-text a:hover {
  color: #e1a1b5;
  text-decoration: underline;
}

.project-title {
  font-family: "Ranchers", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding-bottom: 8px;
}

.project-header {
  font-family: "Poppins", sans-serif;
  margin: auto;
  padding: 16px;
  text-align: center;
}

.project-summary {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.2;
  padding-top: 0;
}

.project-date-category {
  font-size: 20px;
  font-style: italic;
  font-weight: 200;
}

.header-text {
  margin: auto;
  padding-bottom: 8px;
  text-align: center;
  width: 100%;
}

.project-content {
  margin: auto;
  width: 50%;
}

.project-div {
  margin-bottom: 16px;
}

.project-div h2 {
  color: #4a615c;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
}

.project-div p {
  font-size: 18px;
}

.page-subtitle,
.prompt-title {
  color: #8e7dba;
  font-family: "Ranchers", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.page-title {
  padding-bottom: 16px;
}

.prompt-title {
  padding-bottom: 4px;
}

.project-subsection {
  margin-bottom: 8px;
}

.project-page-image {
  margin: auto;
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: center;
}

.project-page-image img {
  border: 1px groove #acccc5;
  border-radius: 4px;
  width: 700px;
}

.project-page-image img:hover {
  border: 2px groove #e1a1b5;
  border-radius: 4px;
}

.eclipse-soundscapes-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 16px 0;
}

.eclipse-soundscapes-image img {
  border-radius: 4px;
  max-width: 75%;
  height: auto;
}

.eclipse-soundscapes-image img:hover {
  filter: brightness(0.75);
}

.project-link a {
  font-family: "Ranchers", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-align: center;
  text-decoration: none;
  color: #8e7dba;
}

.project-link a:link,
.project-link a:visited {
  color: #8e7dba;
  text-decoration: none;
}

.project-link a:hover {
  color: #4a615c;
  text-decoration: underline;
}

.case-study-text {
  color: #4a615c;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  padding-bottom: 8px;
  text-align: center;
}

.quote {
  padding-bottom: 8px;
}

.video-div {
  padding-top: 56.25%;
  position: relative;
  text-align: center;
  width: 100%;
}

.max-msp-video-div {
  margin: 0 auto;
  padding-top: 42.1875%;
  position: relative;
  text-align: center;
  width: 75%;
}

.video-div iframe,
.max-msp-video-div iframe {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.video-subtitle {
  font-weight: bold;
  text-align: center;
}

.figma-prototype-div {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-bottom: 16px;
  width: auto;
}

.figma-prototype {
  border: 4px groove #acccc5;
  border-radius: 4px;
  height: 600px;
  width: 600px;
}

.about-div {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 16px;
  width: 75%;
}

.about-text {
  font-size: 24px;
  width: 100%;
}

.about-text p {
  margin-bottom: 8px;
}

.about-text a {
  color: #8e7dba;
  text-decoration: none;
}

.about-text a:hover {
  color: #e1a1b5;
  text-decoration: underline;
}

.page-title-about {
  color: #8e7dba;
  display: flex;
  font-family: "Ranchers", sans-serif;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 2.5px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 16px;
  width: 100%;
}

.link p {
  gap: 16px;
}

.link a {
  color: #2a233d;
  display: flex;
  gap: 100px;
  justify-content: space-between;
  text-decoration: underline;
}

.link a:hover {
  color: #4a615c;
  text-decoration: underline;
}

.footer-div {
  color: #8e7dba;
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  padding-bottom: 8px;
  padding-top: 32px;
  width: 100%;
}

.ui-dropdown {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 880px;
}

.ui-dropdown details {
  margin-bottom: 8px;
  width: 100%;
  overflow: hidden;
}

.ui-dropdown summary {
  color: #8e7dba;
  cursor: pointer;
  font-family: "Ranchers", sans-serif;
  font-size: 24px;
  letter-spacing: 1.5px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.ui-dropdown summary:hover {
  color: #4a615c;
}

.details-content {
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.hidden {
  display: none;
}

.creative-project-section {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  height: auto;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.creative-project-section a {
  display: flex;
  gap: 100px;
  justify-content: space-between;
  text-decoration: underline;
}

#ui-project a {
  color: #2a233d;
}

#knits-project a {
  color: #8e7dba;
}

#ui-project a:hover,
#knits-project a:hover {
  color: #4a615c;
  text-decoration: underline;
}

.creative-project {
  background-color: rgba(246, 229, 234, 50%);
  border: 2.5px groove #99c1b9;
  border-radius: 4px;
  padding: 16px;
  width: 400px;
}

.creative-project-image {
  text-align: center;
}

.creative-project-image img {
  height: 256px;
  width: 360px;
}

.creative-project-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prototype-link {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
}

.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

.hidden {
  display: none;
}

.toTopHidden {
  display: none;
}

.toTop {
  display: block;
}

.toTop__text {
  position: fixed;
  background: #acccc5;
  /* color: #8e7dba; */
  color: rgba(142, 125, 186, 0.6);
  width: 40px;
  height: 40px;
  border-radius: 25px;
  bottom: 5%;
  left: 90%;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
}

.toTop__text:hover {
  transform: scale(1.1);
}

.bottom-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Ranchers", sans-serif;
  letter-spacing: 1.5px;
  padding: 24px;
}

.bottom-links a {
  color: #8e7dba;
  text-decoration: none;
}

.bottom-links a:hover {
  color: #e1a1b5;
}

@media (min-width: 1660px) {
  .projects-section {
    justify-content: space-around;
    padding: 0px;
    width: 1600px;
  }

  .project {
    width: 750px;
  }

  .figma-prototype-div {
    display: flex;
    justify-content: center;
    width: auto;
  }

  .figma-prototype {
    height: 800px;
    width: 800px;
  }

  .ui-dropdown,
  details {
    width: 1540px;
  }

  .creative-project {
    width: 756px;
  }

  .creative-project-image img {
    height: 512px;
    width: 720px;
  }
}

@media (max-width: 1080px) {
  .projects-section {
    width: 850px;
  }

  .project {
    width: 400px;
  }

  .project-page-image img {
    width: 90%;
  }

  .project-content {
    margin: auto;
    width: 75%;
  }

  .figma-prototype {
    height: 450px;
    width: 800px;
  }
}

@media (max-width: 1024px) {
  .figma-prototype {
    height: 850px;
    width: 850px;
  }
}

@media (max-width: 959px) {
  .page-wrapper {
    margin: 0 auto;
    max-width: 120vw;
    padding: 8px;
  }

  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }

  .intro-title-div {
    display: flex;
    justify-content: center;
  }

  .intro-title-heading {
    color: #b5aad3;
    font-family: "Ranchers", sans-serif;
    font-size: 20px;
    letter-spacing: 2.5px;
    max-width: 720px;
    text-align: center;
  }

  .about-div {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;
    width: 90%;
  }

  .projects-section {
    display: flex;
    gap: 16px;
    height: auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

  .project {
    margin-bottom: 16px;
    padding: 16px;
    width: auto;
  }

  .about-text {
    width: 100%;
  }

  .ui-dropdown,
  details {
    width: 800px;
  }

  .creative-project {
    width: 756px;
  }

  .creative-project-image img {
    height: 512px;
    width: 720px;
  }
}

@media (max-width: 912px) {
  .figma-prototype {
    height: 600px;
    width: 700px;
  }
}

@media (max-width: 768px) {
  .figma-prototype {
    height: 600px;
    width: 600px;
  }

  .ui-dropdown,
  details {
    width: 664px;
  }

  .creative-project {
    width: 600px;
  }

  .creative-project-image img {
    height: 384px;
    width: 540px;
  }
}

@media (max-width: 600px) {
  html {
    padding-left: 24px;
    padding-right: 24px;
  }

  .page-wrapper {
    margin: 0 auto;
    max-width: 120vw;
    padding: 8px;
  }

  .menu-icon {
    cursor: pointer;
    display: block;
  }

  .home {
    display: flex;
  }

  .nav-elements {
    backdrop-filter: blur(10px);
    background-color: rgb(246, 229, 234, 50%);
    height: calc(100vh - 60px);
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 60px;
    transition: all 0.5s ease-in-out;
    width: 0px;
  }

  .nav-elements.active {
    padding-left: 24px;
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }

  .rotating-image img {
    animation: spin 10s linear infinite;
    height: 150px;
  }

  .intro-title-heading {
    max-width: 340px;
  }

  .projects-section {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

  .project {
    width: auto;
  }

  .about-text {
    width: 100%;
  }

  .figma-prototype {
    height: 450px;
    width: auto;
  }

  .ui-dropdown,
  details {
    width: 444px;
  }

  .creative-project {
    width: 400px;
  }

  .creative-project-image img {
    height: 256px;
    width: 360px;
  }
}

@media (max-width: 480px) {
  .ui-dropdown,
  details,
  .creative-project {
    width: 300px;
  }

  .creative-project-image img {
    height: 192px;
    width: 270px;
  }
}
