@import url("https://fonts.googleapis.com/css2?family=Alata&family=Hind:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Ranchers&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  margin: 0 auto;
  min-height: 100vh;
  padding-left: 50px;
  padding-right: 50px;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  animation: gradient-animation 48s ease infinite;
  background: linear-gradient(300deg, #b5aad3, #f6e5ea, #acccc5);
  background-color: #f6e5ea;
  background-size: 180% 180%;
  color: #2a233d;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  height: 100%;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.PageWrapper {
  margin: 0 auto;
  max-width: 120vw;
  padding: 8px;
  width: auto;
}

.container {
  align-items: center;
  display: flex;
  font-family: "Poppins", sans-serif;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 24px;
}

.navbar {
  height: 60px;
  margin: 20px 0px;
  position: relative;
}

.menu-icon,
.home {
  display: none;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  color: #8e7dba;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.nav-elements ul a:hover {
  color: #99c1b9;
}

.nav-elements ul a.active {
  color: #e1a1b5;
  font-weight: bold;
  position: relative;
}

.nav-elements ul a.active::after {
  background-color: #e1a1b5;
  bottom: -2px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}

.SallyTitleCSS {
  display: flex;
  justify-content: center;
}

.SallyTitleText {
  color: #b5aad3;
  font-family: "Ranchers", sans-serif;
  font-size: 44px;
  letter-spacing: 2.5px;
  margin: 8px 16px;
  max-width: 850px;
  text-align: center;
}

.IntroSpacing1 {
  padding: 24px;
}

.IntroSpacing2 {
  padding: 16px;
}

.rotatingImageDiv {
  display: flex;
  justify-content: center;
}

.rotatingImage img {
  animation: spin 10s linear infinite;
  height: 200px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.PageTitle {
  color: #8e7dba;
  display: flex;
  font-family: "Ranchers", sans-serif;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 2.5px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
}

.PageHeader {
  padding-bottom: 16px;
  text-align: center;
}

.ProjectsSection {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  height: auto;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 950px;
}

.Project {
  background-color: rgba(246, 229, 234, 50%);
  border: 2.5px groove #99c1b9;
  border-radius: 4px;
  padding: 16px;
  width: 450px;
}

.ProjectImage {
  padding-bottom: 8px;
}

.ProjectImage img {
  width: 100%;
  border: 1px groove #acccc5;
  border-radius: 4px;
}

.ProjectImage img:hover {
  border: 2px groove #e1a1b5;
  filter: brightness(0.75);
}

.ProjectText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ProjectText a {
  color: #8e7dba;
  text-decoration: none;
}

.ProjectText a:hover {
  color: #e1a1b5;
  text-decoration: underline;
}

.ProjectTitle {
  font-family: "Ranchers", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding-bottom: 8px;
}

.ProjectSummary {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.2;
  padding-top: 0;
}

.ProjectDateCategory {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 200;
}

.ProjectHeader {
  margin: auto;
  padding: 16px;
  text-align: center;
}

.ProjectHeaderText {
  margin: auto;
  padding-bottom: 8px;
  text-align: center;
  width: 100%;
}

.ProjectContent {
  margin: auto;
  width: 50%;
}

.ProjectPageSubtitle {
  color: #8e7dba;
  font-family: "Ranchers", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding-bottom: 8px;
}

.ProjectImage--ProjectPage {
  margin: auto;
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: center;
}

.ProjectImage--ProjectPage img {
  border: 1px groove #acccc5;
  border-radius: 4px;
  width: 700px;
}

.ProjectImage--ProjectPage img:hover {
  border: 2px groove #e1a1b5;
  border-radius: 4px;
}

.ProjectImage--ProjectPage a {
  color: #8e7dba;
  text-decoration: none;
}

.ProjectImage--ProjectPage a:hover {
  color: #4a615c;
  text-decoration: underline;
}

.ProjectLink {
  font-family: "Ranchers", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-align: center;
}

.ProjectHiFi a,
.ProjectInspirations a {
  color: #8e7dba;
  text-decoration: none;
}

.ProjectHiFi a:hover,
.ProjectInspirations a:hover {
  color: #4a615c;
  text-decoration: underline;
}

.ProjectDiv {
  padding-bottom: 16px;
}

.ProjectDiv h2 {
  color: #4a615c;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  padding-top: 4px;
}

.ProjectDiv p {
  font-size: 18px;
  padding-bottom: 4px;
}

.CaseStudyText {
  color: #4a615c;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  padding-bottom: 8px;
  text-align: center;
}

.quote {
  padding-bottom: 8px;
}

.ProjectImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.ProjectImages img {
  border-radius: 4px;
  width: 75%;
}

.ProjectImages img:hover {
  filter: brightness(0.75);
}

.ProjectVideo {
  padding-top: 56.25%;
  position: relative;
  text-align: center;
  width: 100%;
}

.ProjectVideo iframe {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.ProjectVideoSubtitle {
  font-weight: bold;
  text-align: center;
}

.FigmaPrototypeDiv {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-bottom: 16px;
  width: auto;
}

.FigmaPrototype {
  border: 4px groove #acccc5;
  border-radius: 4px;
  height: 600px;
  width: 600px;
}

.ActionPlan {
  padding-top: 8px;
}

.AboutDiv {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 16px;
  width: 75%;
}

.AboutText {
  font-size: 24px;
  width: 100%;
}

.AboutText p {
  margin-bottom: 8px;
}

.AboutText a {
  color: #8e7dba;
  text-decoration: none;
}

.AboutText a:hover {
  color: #e1a1b5;
  text-decoration: underline;
}

.PageTitleAbout {
  color: #8e7dba;
  display: flex;
  font-family: "Ranchers", sans-serif;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 2.5px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 16px;
  width: 100%;
}

.link p {
  gap: 16px;
}

.link a {
  color: #2a233d;
  display: flex;
  gap: 100px;
  justify-content: space-between;
  text-decoration: underline;
}

.link a:hover {
  color: #e1a1b5;
  text-decoration: underline;
}

.FooterDiv {
  color: #8e7dba;
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  padding-bottom: 32px;
  padding-top: 32px;
  width: 100%;
}

.UIPage h1 {
  padding-bottom: 0px;
}

.UIDropdown {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 880px;
}

details {
  /* display: flex;
  justify-content: center; */
  padding-bottom: 8px;
  width: 880px;
}

summary {
  color: #4a615c;
  cursor: pointer;
  font-family: "Ranchers", sans-serif;
  font-size: 24px;
  letter-spacing: 1.5px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.UIPromptsSection, .KnitsSection {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  height: auto;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.UIPromptsSection a, .KnitsSection a {
  display: flex;
  gap: 100px;
  justify-content: space-between;
  text-decoration: underline;
}

.UIPromptsSection a {
  color: #2a233d;
}

.KnitsSection a {
  color: #8e7dba;
}

.UIPromptsSection a:hover, .KnitsSection a:hover {
  color: #e1a1b5;
  text-decoration: underline;
}


.UIProject {
  background-color: rgba(246, 229, 234, 50%);
  border: 2.5px groove #99c1b9;
  border-radius: 4px;
  padding: 16px;
  width: 400px;
}

.UI_IMAGE {
  text-align: center;
}

.UI_IMAGE img {
  height: 256px;
  width: 360px;
}

.UIProjectText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.PromptTitle {
  color: #8e7dba;
  font-family: "Ranchers", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding-bottom: 4px;
}

.PrototypeLink {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
}

.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

.hidden {
  display: none;
}

.toTopHidden {
  display: none;
}

.toTop {
  display: block;
}

.toTop__text {
  position: fixed;
  background: #acccc5;
  /* color: #8e7dba; */
  color: rgba(142, 125, 186, 0.6);
  width: 40px;
  height: 40px;
  border-radius: 25px;
  bottom: 5%;
  left: 90%;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
}

.toTop__text:hover {
  transform: scale(1.1);
}

.bottomLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Ranchers", sans-serif;
  letter-spacing: 1.5px;
  padding: 24px;
}

.bottomLinks a {
  color: #8e7dba;
  text-decoration: none;
}

.bottomLinks a:hover {
  color: #e1a1b5;
}

@media (min-width: 1660px) {
  .ProjectsSection {
    justify-content: space-around;
    padding: 0px;
    width: 1600px;
  }

  .Project {
    width: 750px;
  }

  .ProjectContent {
    margin: auto;
    width: 50%;
  }

  .FigmaPrototypeDiv {
    display: flex;
    justify-content: center;
    width: auto;
  }

  .FigmaPrototype {
    height: 800px;
    width: 800px;
  }

  .UIDropdown,
  details {
    width: 1540px;
  }

  .UIProject {
    width: 756px;
  }

  .UI_IMAGE img {
    height: 512px;
    width: 720px;
  }
}

@media (max-width: 1080px) {
  .ProjectsSection {
    width: 850px;
  }

  .Project {
    width: 400px;
  }

  .ProjectImage--ProjectPage img {
    width: 90%;
  }

  .ProjectContent {
    margin: auto;
    width: 75%;
  }

  .FigmaPrototype {
    height: 450px;
    width: 800px;
  }
}

@media (max-width: 1024px) {
  .FigmaPrototype {
    height: 850px;
    width: 850px;
  }
}

@media (max-width: 959px) {
  .PageWrapper {
    margin: 0 auto;
    max-width: 120vw;
    padding: 8px;
  }

  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }

  .SallyTitleCSS {
    display: flex;
    justify-content: center;
  }

  .SallyTitleText {
    color: #b5aad3;
    font-family: "Ranchers", sans-serif;
    font-size: 20px;
    letter-spacing: 2.5px;
    max-width: 720px;
    text-align: center;
  }

  .AboutDiv {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;
    width: 90%;
  }

  .ProjectsSection {
    display: flex;
    gap: 16px;
    height: auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

  .Project {
    margin-bottom: 16px;
    padding: 16px;
    width: auto;
  }

  .AboutText {
    width: 100%;
  }

  .UIDropdown,
  details {
    width: 800px;
  }

  .UIProject {
    width: 756px;
  }

  .UI_IMAGE img {
    height: 512px;
    width: 720px;
  }
}

@media (max-width: 912px) {
  .FigmaPrototype {
    height: 600px;
    width: 700px;
  }
}

@media (max-width: 768px) {
  .FigmaPrototype {
    height: 600px;
    width: 600px;
  }

  .UIDropdown,
  details {
    width: 664px;
  }

  .UIProject {
    width: 600px;
  }

  .UI_IMAGE img {
    height: 384px;
    width: 540px;
  }
}

@media (max-width: 600px) {
  html {
    padding-left: 24px;
    padding-right: 24px;
  }

  .PageWrapper {
    margin: 0 auto;
    max-width: 120vw;
    padding: 8px;
  }

  .menu-icon {
    cursor: pointer;
    display: block;
  }

  .home {
    display: flex;
  }

  .nav-elements {
    backdrop-filter: blur(10px);
    background-color: rgb(246, 229, 234, 50%);
    height: calc(100vh - 60px);
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 60px;
    transition: all 0.5s ease-in-out;
    width: 0px;
  }

  .nav-elements.active {
    padding-left: 24px;
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }

  .rotatingImage img {
    animation: spin 10s linear infinite;
    height: 150px;
  }

  .SallyTitleText {
    max-width: 340px;
  }

  .ProjectsSection {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

  .Project {
    width: auto;
  }

  .AboutText {
    width: 100%;
  }

  .FigmaPrototype {
    height: 450px;
    width: auto;
  }

  .UIDropdown,
  details {
    width: 444px;
  }

  .UIProject {
    width: 400px;
  }

  .UI_IMAGE img {
    height: 256px;
    width: 360px;
  }
}

@media (max-width: 480px) {
  .UIDropdown,
  details,
  .UIProject {
    width: 300px;
  }

  .UI_IMAGE img {
    height: 192px;
    width: 270px;
  }
}
